<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ISO 10303-238</title>
</head>

    <frameset cols="30%,*">
    <noframes>
    <body>You must use a browser that can display frames to see this page.</body>
    </noframes>
    <frame name="toc" src="ISO-10303-238-files/frameindex.html" id="toc">
    <frame name="body" src="ISO-10303-238-files/contents.html" id="body">
    </frameset>



    
</html>
